@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(9.63% 0.005 254.33);
  --card: oklch(98.86% 0.003 263.88);
  --card-foreground: oklch(9.63% 0.005 254.33);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(9.63% 0.005 254.33);
  --primary: oklch(55.98% 0.17 263.88);
  --primary-foreground: oklch(98.86% 0.003 263.88);
  --secondary: oklch(94.13% 0.012 259.61);
  --secondary-foreground: oklch(37.49% 0.024 261.16);
  --muted: oklch(96.94% 0.006 261.21);
  --muted-foreground: oklch(59.38% 0.016 260.55);
  --accent: oklch(96.94% 0.006 261.21);
  --accent-foreground: oklch(37.49% 0.024 261.16);
  --destructive: oklch(54.9% 0.224 15.36);
  --destructive-foreground: oklch(98.86% 0.003 263.88);
  --season-badge: oklch(0.6 0.2 240);
  --season-badge-foreground: oklch(0.95 0.05 240);
  --tournament-badge: oklch(0.6 0.2 280);
  --tournament-badge-foreground: oklch(0.95 0.05 280);
  --border: oklch(91.38% 0.011 261.26);
  --input: oklch(91.38% 0.011 261.26);
  --ring: oklch(55.98% 0.17 263.88);
  --chart-1: oklch(55.98% 0.17 263.88);
  --chart-2: oklch(65.98% 0.17 263.88);
  --chart-3: oklch(75.98% 0.17 263.88);
  --chart-4: oklch(85.98% 0.17 263.88);
  --chart-5: oklch(95.98% 0.17 263.88);
  --sidebar: oklch(0.9846 0.0017 247.8389);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.6231 0.1880 259.8145);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9514 0.0250 236.8242);
  --sidebar-accent-foreground: oklch(0.3791 0.1378 265.5222);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.6231 0.1880 259.8145);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(14.03% 0.013 259.98);
  --foreground: oklch(97.7% 0.006 260.18);
  --card: oklch(16.9% 0.017 260.03);
  --card-foreground: oklch(97.7% 0.006 260.18);
  --popover: oklch(9.63% 0.005 254.33);
  --popover-foreground: oklch(97.7% 0.006 260.18);
  --primary: oklch(55.98% 0.17 263.88);
  --primary-foreground: oklch(98.86% 0.003 263.88);
  --secondary: oklch(24.93% 0.027 260.67);
  --secondary-foreground: oklch(94.13% 0.012 259.61);
  --muted: oklch(24.93% 0.027 260.67);
  --muted-foreground: oklch(65.17% 0.019 259.73);
  --accent: oklch(24.93% 0.027 260.67);
  --accent-foreground: oklch(94.13% 0.012 259.61);
  --destructive: oklch(54.9% 0.224 15.36);
  --destructive-foreground: oklch(98.86% 0.003 263.88);
  --border: oklch(24.93% 0.027 260.67);
  --input: oklch(24.93% 0.027 260.67);
  --ring: oklch(55.98% 0.17 263.88);
  --chart-1: oklch(55.98% 0.17 263.88);
  --chart-2: oklch(45.98% 0.17 263.88);
  --chart-3: oklch(0.5461 0.2152 262.8809);
  --chart-4: oklch(0.4882 0.2172 264.3763);
  --chart-5: oklch(0.4244 0.1809 265.6377);
  --sidebar: oklch(16.9% 0.017 260.03);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.6231 0.1880 259.8145);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3791 0.1378 265.5222);
  --sidebar-accent-foreground: oklch(0.8823 0.0571 254.1284);
  --sidebar-border: oklch(0.3715 0 0);
  --sidebar-ring: oklch(0.6231 0.1880 259.8145);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-season-badge: var(--season-badge);
  --color-season-badge-foreground: var(--season-badge-foreground);
  --color-tournament-badge: var(--tournament-badge);
  --color-tournament-badge-foreground: var(--tournament-badge-foreground);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
